
.bar {
    list-style-type: none;
    background-image: linear-gradient(260deg, #e2f9b8 0%, #25f78b 100%);
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}
ul {
    padding: 0;
}
li {
    margin:  20px 15px;
}
.home {
    flex-grow: 20;
    text-align: left;
}

.about, .contact, .portfolio {
    flex-grow: 1;
}

.home, .about, .contact, .portfolio {
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .bar {
        flex-direction: column;
    }
    .home {
        text-align: center;
    }
    li {
        margin: 10px;
    }
}